section{
  display: flex;
  justify-content: center;
}

section .register{
  width: 750px;
  height: 600px;
  display: flex;
  align-items: center;
  background-color: #1B2034;
  border-radius: 15px;

  margin-top: 100px;

}

section .registerInfo{
  height: 400px;
  justify-content: center;
  padding: 18px;
  box-shadow: 0 1px 6px 0 #171717;

  border-radius: 25px;
}

section .register .registerCompany__icon{
  margin-top: 10px;

  display: flex;

  justify-content: center;
  align-items: center;
}

.register .registerCompany__icon img{
  width: 100px;
}

