section{
  margin-top: 120px;
}

section .register{
  width: 750px;
  height: 400px;

  
  display: flex;
  background-color: #1B2034;
  align-items: center;

  margin: 0 auto;
  border-radius: 15px;
}